.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.card {
  height: min-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 40px;
  gap: 22px;
  position: relative;

  // border workaround
  &::before {
    content: '';
    border: 1px solid var(--colorControlBorder06);
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  background: radial-gradient(
    89.51% 85.18% at 19.14% 9.79%,
    rgba(255, 138, 0, 0.182) 0%,
    rgba(255, 0, 229, 0.0104) 100%
  );
  border-radius: 24px;

  text-transform: uppercase;
  .header {
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--colorFf36);
    font-size: 12px;
    line-height: 21px;
    .title {
      color: var(--colorTextSecondary50);
      text-transform: none;
    }
    svg {
      fill: #e7891b;
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
  }
  .rows {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 17px;
    gap: 12px;
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      background: var(--colorControlBg);
      border: 1px solid var(--colorControlBorder06);
      border-radius: 17px;
      padding: 8px;
      .label {
        color: var(--colorTextSecondary50);
      }

      .from {
        min-width: 120px;
        text-transform: none;
      }
      .address {
        flex: 1 0 auto;
      }
      .chain {
        min-width: 120px;
      }
      .amount {
        min-width: 120px;
      }
      .value {
        color: #ffffff;
      }

      .buttonsWrapper {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        gap: 5px;
        button {
          height: 40px;
          font-size: 12px;
          line-height: 21px;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          padding: 9.5px 30px;
          border: none;
          width: 100%;
        }
        a {
          text-decoration: none;
        }

        .explorer {
          color: var(--colorTextSecondary80);
          border-radius: 16px;
        }
        .accept {
          color: var(--colorGreenApple);
        }

        .reject {
          color: var(--colorTextSecondary50);
        }
      }
      .controls {
        display: flex;
        border-radius: 16px;
        border: 1px solid var(--colorGreenApple08);
        button,
        a {
          height: 40px;
          font-size: 12px;
          line-height: 21px;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          padding: 9.5px 30px;
          border: none;
          width: 100%;
        }

        .accept {
          min-width: 126px;
          color: var(--colorGreenApple);
          border-radius: 16px 0px 0px 16px;
          background: transparent;

          &:disabled {
            background: var(--colorGreenApple08);
            color: var(--colorTextSecondary80);
          }
        }

        .reject {
          min-width: 110px;
          color: var(--colorTextSecondary50);
          border-radius: 0px 16px 16px 0px;

          &:disabled {
            color: var(--colorTextSecondary13);
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .card {
    background: none;
    padding: 0;
    &::before {
      border: none;
    }
    .header {
      display: none;
    }
    .rows {
      .row {
        column-gap: 40px;
        justify-content: unset;
        .controls {
          margin-left: auto;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .card {
    .rows {
      .row {
        row-gap: 8px;
        .id {
          width: 100%;
        }
        flex-wrap: wrap;
        .controls {
          width: 100%;
          margin-top: 8px;
        }
      }
    }
  }
}
