.title {
  margin-bottom: 40px;
  line-height: 56px;
  margin-bottom: 87px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  .cell {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .input {
      margin-bottom: 0;
    }
  }
  .button {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .error {
    color: var(--colorError);
  }
  .warningNote {
    margin-bottom: 24px;
    color: var(--colorWarning);
    display: flex;
    gap: 8px;

    > svg {
      flex: 0 0 auto;
    }
  }
}
