.header {
  width: fit-content;
  margin: 0 auto 35px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .input {
    margin-bottom: 0px;
  }

  .button {
    width: 100%;
  }

  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
  }

  .error {
    color: var(--colorError);
  }
}

.toRegister {
  width: fit-content;
  margin: 35px auto 0;

  &:hover {
    cursor: pointer;
  }
}
